.footer-container {
  margin-top: 10px;
  width: 100%;
  height: 118px;
  background-color: #3A4856;
}
.footer-text-p{
    color: white;
    text-align: center;
    font-size: 18px;
}
.footer-body{
    padding: 10px;
    text-align: center;

}
.footer-github-link a, span{
    color: white;
    text-description: "none"
}